

body {
    font-size: 15pt;
    /* background: url(/creativeCalligraphy/sos.png) repeat 0 0; */
    font-family: 'Lato', serif;    
    font-style: Garamond;

}

div {

    /* font-family: 'Nobile', Helvetica, Arial, sans-serif; */
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
            transition: all .25s ease;
}

img {
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
            transition: all .25s ease;
}

.gallery{
    background-color: #95002B;
    color: black;
    width: 10%;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    display: table-cell;
    /* border: 2px solid black; */
}

.button{
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    background-color: #95002B;
    color: white;
    width: 10%;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    display: table-cell;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

#middle_spacer{
    width: 40px;
}

.button:hover{
    background: -webkit-gradient(linear, 
				 left top, 
				 left bottom, 
				 color-stop(0%, white), 
				 color-stop(5%, white), 
				 color-stop(100%, #DFC184)); 
    background: -moz-linear-gradient(top, white 0%, white 55%, #DFC184 130%); 
    background-color: #DFC184;
    color: black;
}

#main_text{
    text-align: justify;
    padding-left: 20px;
    width: 60%;
}

.text{
    vertical-align: middle;
    display: table-cell;    
    
}

.spacer{
    /* background-color: #C0FED5; */
    color: black;
    width: 1%;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    display: table-cell;
}

.faded{
    /* gradients */
    background: -webkit-gradient(linear, 
				 left bottom, 
				 left top, 
				 color-stop(0%, white), 
				 color-stop(15%, white), 
				 color-stop(100%, #DFC184)); 
				 /* color-stop(100%, #D7E9F5));  */
    /* background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);  */
    background: -moz-linear-gradient(top, white 0%, white 55%, #DFC184 130%); 
}

.expandable{
    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

    /* rounded corners */
    -webkit-border-radius: 14px;
    -moz-border-radius: 10px; 
    border-radius: 10px;



    /* background-color: #DFC184; */
    color: black;
    border-radius: 10px;
    height: 0px;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display:block
    overflow-y:scroll;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
            transition: all 1s ease;

}

table {
    color: black;
    text-align: center;
    font-style: italic;

}

.gallery_pic{
    border-radius: 15px;
    border: solid 10px #CCC;
    -moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 0px #999;
    box-shadow: 5px 5px 0px #999;
    margin: 20px;
    width: 70%;
    height: auto;
    /* width: 70%; */
    /* height: 20%; */

}


#gallery_window{
    /* background: url(/creativeCalligraphy/sos.png) repeat 0 0; */
    /* background-color: white; */
    color: black;
    width: 100%;
    /* border-radius: 15px; */
    padding: 5px;
    /* margin: ; */
    text-align: center;
    /* display: table-cell; */
    /* border: 2px solid black; */
}

.spaced_table{
    border: solid 20px #FFFFFF;
    padding: 5px;
    color: black;
}

.secondary{
    border-radius: 15px;
    /* background-color: #95002B; */
    /* color: white; */
    color: black;
}

#gallery_console{
    background-color: white;
    color: black;
    width: 40%;
    border-radius: 20px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: -10px;
    text-align: center;
    /* display: table-cell; */
    /* border: 2px solid black; */
}


#selector_container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    opacity: 0;
}

#footer{
    font-family: 'Stalemate', serif;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30pt;
    left:0px;
    bottom:0px;
    opacity: 0;
    width:100%;
    text-align: center;
    /* text-shadow: 4px 4px 4px #aaa; */
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
            transition: all 1s ease;

}

#logo{
    margin-top: 8%;
    margin-bottom: 2%;
    display: block;
    /* width: 50%; */
    /* height: 0%; */
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;

    -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
            transition: all 2s ease;

}

#logo:hover{
    opacity: 0.5;
}   